<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Chanakya The MasterMind </title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="chat-container">
  <h1 class="header">Chanakya The MasterMind</h1>
  <form class="chat-form" id="chat-form">
    <br></br>
    <br></br>
    <br></br>

    <input
      type="text"
      id="user-input"
      name="user_input"
      placeholder="Message Chanakya..."
    />
    <button type="submit" id="submitBtn">Send</button>
  </form>
  <div id="result"></div>
</div>
<script src="script.js"></script>
</body>
</html>
